<h1>Vous avez demandé à réinitialiser votre mot de passe</h1>

<p>Pour ce faire, rendez-vous sur la page suivante :
    <a href="http://localhost:4200/reset-password/{{ user.getPasswordToken() }}">
        http://localhost:4200/activate-user/{{ user.getPasswordToken() }}
    </a>
</p>
