<h1>Votre compte a bien été créé !</h1>

<p>Pour l'activer, rendez-vous sur la page suivante :
    <a href="http://localhost:4200/backoffice/activate-user/{{ user.getToken() }}">
        http://localhost:4200/backoffice/activate-user/{{ user.getToken() }}
    </a>
</p>
