<form class="row" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="col s12">
        <mat-form-field>
            <mat-label>Pseudo</mat-label>
            <input type="text" matInput formControlName="username">
        </mat-form-field>
    </div>

    <div class="col s12">
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input id="password" type="password" matInput formControlName="password">
        </mat-form-field>
    </div>

    <div class="col s12" id="reset-password">
        <a [routerLink]="['../reset-password']">Mot de passe oublié ?</a>
    </div>

    <div class="col s12 ending-btn">
        <button mat-raised-button color="primary">Se connecter</button>
    </div>
</form>
