<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col s12">
        <mat-form-field>
            <mat-label>Nom d'utilisateur</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error>Ce champ est obligatoire</mat-error>
        </mat-form-field>
    </div>

    <div class="col s12">
        <mat-form-field>
            <mat-label>Adresse email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error>{{ getEmailErrors() }}</mat-error>
        </mat-form-field>
    </div>

    <div class="col s12 ending-btn">
        <button mat-raised-button color="primary">Réinitialiser mon mot de passe</button>
    </div>
</form>
